<h1>About Apartment Funder</h1>
<p>Apartment Funder is your professional portal for mulit-family real-estate investment opportunities in the United States.</p>
<p>We hope to help complete deal quicker, grow a community of like minded investors, and cerate a secure area for sponsors and investors to share private investment information.</p>

