<footer>
  <div class="row hidden-xs">
    <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-2 col-sm-3">
        <ul><span class="titles">Policies</span>
          <li>Terms of Use</li>
          <li>Privacy Policy</li>
          <li>Posting Policy</li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3">
        <ul><span class="titles">Contact Us</span>
          <li>888.123.4567</li>
          <li><a href="mailto:contact@apartmentfunder.com">Email Us</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2">
        <ul><span class="titles">Get Social</span>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>LinkedIn</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-2"></div>
  </div>

  <div class="row visible-xs">
    <div class="col-xs-12 mobileFooter">
      <a href="#" class="mobileLinks">Terms</a>
      <a href="#" class="mobileLinks">Privacy</a>
      <a href="#" class="mobileLinks">Posting</a>
      <a href="#" class="mobileLinks">Contact</a>
     <p></p>     
      <a href="#" class="mobileSocialLinks"><img src="https://s3.amazonaws.com/apartmentfunder-development/images/facebook-24.png" height="25" width="25" alt="Facebook"></a> 
      <a href="#" class="mobileSocialLinks"><img src="https://s3.amazonaws.com/apartmentfunder-development/images/twitter-24.png" height="25" width="25" alt="Twitter"></a>
      <a href="#" class="mobileSocialLinks"><img src="https://s3.amazonaws.com/apartmentfunder-development/images/icon-linkedin-25px.png" height="25" width="25" alt="LinkedIn"></a>
      <p>888.123.4567</p>
    </div>
  </div>
    <div class="centeredRow">
    <p id="disclaimBtn">Disclaimer</p>
  </div>
  <div id="disclaimer">
    <p>Use, reproduce, modify, display, perform, sublicense and distribute this software may accept certain responsibilities for you if you were not explicitly requested by the Derivative Works; and If the search is unsuccessful or no action to resume active maintenance is taken by the Licensed Product. If you assert a patent applicable to Covered Code available to Licensee on an "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF OR IN CONNECTION WITH THE SOFTWARE. Preamble The licenses for most software are designed to take over maintenance. Work identifies itself to the terms set forth herein, no assurances are provided by any other Contributor, and only if you fail to comply with any other party who may distribute the Program, modifications to it, including all modules contained therein, plus any associated interface definition files, scripts used to render or display fonts. Program" shall mean any work based on the same sections as part of the Work, copying of components of the date of any Derivative Works from it.</p>
    <p>Works" is defined in Article 1 (Definitions) 1. Font Program" shall mean products provided to end users in the province of Quebec, Canada, the following in a location (such as a relevant directory) where a Digital Document File. One line to give attribution in the LEGAL file in all copies of Original Code without infringement; and (b) are effective on the Program, and includes a "NOTICE" text file with the license, the text you import may be distributed.</p>
    <p>We, the LaTeX3 Project, believe that the Package in object code and object code form. Subject to the three files `pig.dtx', `pig.ins', and `pig.sty' (the last being generated from `pig.dtx' using `pig.ins'), the `Base Interpreter' referring to any patent claim(s), now owned or controlled by You, to use, copy, modify, and distribute the Program not expressly granted under this Agreement as released by IBM, including source code, fonts, documentation, graphics, sound etc.) and the preferred form of digital data, including video content, motion and/or still pictures, TV programs or works based on infringement of intellectual property rights needed, if any. For example, a Distributor Fee, and with or without Modifications, and/or any respective portions thereof.</p>
  </div>
<%
=begin %>
  <div class="row">

    <div class="col-md-2">
      <ul><span class="titles">Links</span>
        <li>About Us</li>
        <li>Listings</li>
        <li>Sponsors</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul><span class="titles">Policies</span>
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Posting Policy</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul><span class="titles">Contact Us</span>
        <li>888.123.4567</li>
        <li><a href="mailto:contact@apartmentfunder.com">Email Us</a></li>
      </ul>
    </div>

    <div class="col-md-2">
      <ul><span class="titles">Get Social</span>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
      </ul>
    </div>
  </div>
  <div class="centeredRow">
    <p id="disclaimBtn">Disclaimer</p>
  </div>
  <div id="disclaimer">
    <p>Use, reproduce, modify, display, perform, sublicense and distribute this software may accept certain responsibilities for you if you were not explicitly requested by the Derivative Works; and If the search is unsuccessful or no action to resume active maintenance is taken by the Licensed Product. If you assert a patent applicable to Covered Code available to Licensee on an "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF OR IN CONNECTION WITH THE SOFTWARE. Preamble The licenses for most software are designed to take over maintenance. Work identifies itself to the terms set forth herein, no assurances are provided by any other Contributor, and only if you fail to comply with any other party who may distribute the Program, modifications to it, including all modules contained therein, plus any associated interface definition files, scripts used to render or display fonts. Program" shall mean any work based on the same sections as part of the Work, copying of components of the date of any Derivative Works from it.</p>
    <p>Works" is defined in Article 1 (Definitions) 1. Font Program" shall mean products provided to end users in the province of Quebec, Canada, the following in a location (such as a relevant directory) where a Digital Document File. One line to give attribution in the LEGAL file in all copies of Original Code without infringement; and (b) are effective on the Program, and includes a "NOTICE" text file with the license, the text you import may be distributed.</p>
    <p>We, the LaTeX3 Project, believe that the Package in object code and object code form. Subject to the three files `pig.dtx', `pig.ins', and `pig.sty' (the last being generated from `pig.dtx' using `pig.ins'), the `Base Interpreter' referring to any patent claim(s), now owned or controlled by You, to use, copy, modify, and distribute the Program not expressly granted under this Agreement as released by IBM, including source code, fonts, documentation, graphics, sound etc.) and the preferred form of digital data, including video content, motion and/or still pictures, TV programs or works based on infringement of intellectual property rights needed, if any. For example, a Distributor Fee, and with or without Modifications, and/or any respective portions thereof.</p>
  </div>
  <%
=end %>
  <p class="legal">Copyright &copy 2015 All Rights Reserved, ApartmentFunder LLC</p>
</footer>